@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #dadada ; /* Change this to your desired thumb color */
      border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
      background-color: #212121 ; /* Change this to your desired track color */
    }
